In [3]:
#Handling missing values
import pandas as pd
data = pd.read_csv('Telco_Customer_Churn_Dataset.csv')

In [4]:
missing_values = data.isnull().sum()
if missing_values.sum() == 0:
    print("No missing values found.")
else:
    for col in data.columns:
        if data[col].dtype == "object":
            data[col].fillna(data[col].mode()[0],inplace=True)
        else :
            data[col].fillna(data[col].mean(),inplace=True)

No missing values found.

In [8]:
#Removing duplicates
duplicate_values = data.duplicated().sum()
if duplicate_values == 0:
    print("There are no duplicate values.")
else:
    duplicates = data.drop_duplicate(inplace=True)
    print("Duplicate values are ",duplicates)

There are no duplicate values.

In [9]:
#Stanardize column names
data.columns = data.columns.str.strip().str.lower().str.replace(" ","_")
print("Column name standardized.")
print(data.columns)

Column name standardized.
Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [10]:
print("Cleaned dataset info:")
print(data.info())

Cleaned dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   gender            7043 non-null   object
 2   seniorcitizen     7043 non-null   int64
 3   partner           7043 non-null   object
 4   dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   object
 7   multiplelines     7043 non-null   object
 8   internetservice   7043 non-null   object
 9   onlinesecurity    7043 non-null   object
 10  onlinebackup      7043 non-null   object
 11  deviceprotection  7043 non-null   object
 12  techsupport       7043 non-null   object
 13  streamingtv       7043 non-null   object
 14  streamingmovies   7043 non-null   object
 15  contract          7043 non-null   object
 16  paperlessbilling  7043 non-null   object
 17  paymentmethod     7043 non-null   object
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7043 non-null   object
 20  churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None